.App {
  height: 800px;
}

.content {
  width: 25%;
  height: 100%;
  border: 5px solid lightsteelblue;
}

.function {
  width: 90%;
  height: 100%;
  border: 5px solid coral;
  background-color: blue;
}

.function-step-track {
  height: 7%;
  padding: 2px;
  border: 5px solid black;
}

.function-robo-dash {
  height: 55%;
}

#function-robo-dash-grid {
  width: 50%;
  border-collapse: collapse;
  height: 100%;
  background-color: lightyellow;
}

#function-robo-dash-grid tr {
  height: 20%;
}

#function-robo-dash-grid tr td {
  width: 100px;
  padding: 2px;
  border: 5px solid lightblue;
}

.function-robo-dash-Instruction {
  width: 50%;
  height: 98%;
  margin: 0 10px;
  background-color: darkblue;
  text-align: left;
  color:white;
}

.function-logic-control {
  height: 37%;   
}